
#telushelper0 {
  
  min-width:500px;
  min-height:500px;
  max-width: 500px;
  max-height: 500px;
  padding: 2rem;
  text-align: center;
  align-items:center;
  justify-content: center;

  
}
#pad{
  color:black;
  position:absolute;
  transform:translateX(23%) translateY(-250%);
}
.tasksButton {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  font-family: inherit;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 30px;
  background-color: lightblue;
  height:auto;
  text-align:center; 
}


.container{
  position: relative;
  transform: translateX(21%);
  
}

#mosttasks0{
  position:absolute;
  width:150px;
  transform:translateX(-110%);
}

#auto0{
  position:absolute;
  width:150px;
  transform: translateX(-110%) translateY(150%);
}
#search0{
  position:absolute;
  width:150px;
 
}

#address0{
  position:absolute;
  width:150px;
  transform: translateX(-0%) translateY(150%);
}

#telus{
  position:absolute;
  bottom: 360%;
  left: 29%;

}

#clear{
  position:absolute;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  width: 200px;
  font-family: inherit;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 30px;
  background-color: lightblue;
  height:auto; 
  transform: translateY(300%) translateX(-52%);
}

#earnings{
  color:black;
  position:absolute;
  width:200%;
  transform: translateY(560%) translateX(-25%);
}






